@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #E2E2B6;
    --cor-terciaria: #6EACDA;
    --cor-quarta: #03346E;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria:'montserrat', sans-serif;


}

*{
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

.cabecalho {
     padding: 5% 0% 0% 20%;
}
.cabecalho__menu{
    display: flex;
    gap: 100px;
}

.cabecalho__menu__link{
     font-family: Arial, var(--fonte-secundaria);
     font-size:0.6ram ;
     font-weight: 600;
     color: var(--cor-quinta);
     text-decoration: none;
}

.titulo-destacado {
     color:var(--cor-terciaria);
}

.apresentaçao {
    padding: 8% 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentaçao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.apresentaçao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 3rem;
}

.apresentaçao__paragrafo {
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
}

.apresentaçao__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.apresentaçao__links__navegacao {
     display: flex;
     justify-content: center;
     gap: 20px;
     border: 4px solid var(--cor-quarta);
     width: 300px;
     text-align: center;
     border-radius: 20px;
     font-size: 1.5rem;
     font-weight: 600px;
     padding: 24px 0;
     text-decoration: none;
     color: var(--cor-secundaria);
     font-family: var(--fonte-secundaria);
}

.apresentaçao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentaçao__links__link:hover {
    background-color:var(--cor-primaria);
}
.apresentacao__imagem{
   width: 80%;
}

.rodape {
   padding: 20px;
    color:var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align:center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 720px) {
   .cabecalho{
    padding: 20%;
   }

   .cabecalho__menu{
    justify-content: center;
   }
   
    .apresentaçao {
       flex-direction:column-reverse;
       padding: 10%;
}

    .apresentaçao__conteudo{
    width: auto;
    }
}